In [24]:
import numpy as np
import copy as copy
import pandas  as pd

In [92]:

def topsis(df, wgt, impt):
    
    colmns = df.columns
    india = df.index
    ilen=len(df.index)
    for k in range(1,len(colmns)):
        df[colmns[k]] = pd.to_numeric(df[colmns[k]], downcast="float")

    siqure = []
    for k in colmns[1:]:
        terabyt = 0
        for l in range(len(india)):
            terabyt += np.square(float(df.iloc[l][k]))
        siqure.append(terabyt)

    ind=0
    df_list = []
    for k in colmns[1:]:
        lits = []
        for l in range(len(india)):
            a = float(df.iloc[l][k] / np.sqrt(siqure[ind]))
            lits.append(a)

        df_list.append(lits)
        ind+=1

    onew_df = pd.DataFrame()
    
    onew_df[colmns[0]] = df[colmns[0]]


    for val in range(len(df_list)):
        onew_df[colmns[val+1]] = df_list[val]

    df = onew_df

#########
    df_list = []
    ind=0
    for k in colmns[1:]:
        lits = []
        for l in range(len(india)):
            a = df.iloc[l][k] * (wgt[ind])
            lits.append(a)
        df_list.append(lits)
        ind+=1

    onew_df = pd.DataFrame()
    onew_df[colmns[0]] = df[colmns[0]]

    for val in range(len(df_list)):
        onew_df[colmns[val+1]] = df_list[val]

    df = onew_df
########
    maxm = ['Ideal Best']
    minm = ['Ideal Worst']

    for ind in colmns[1:]:
        column = df[ind]  
        val_min = column.min()
        minm.append(val_min)
        val_max = column.max()
        maxm.append(val_max)
    ind=1
    for k in impt:
        if k=='-':
            maxm[ind],  minm[ind]=minm[ind], maxm[ind]
#             temp2 = maxm[ind]
#             maxm[ind] = minm[ind]
#             minm[ind] = temp2
        ind+=1
          
    df.loc[ilen] = maxm
    df.loc[len(df.index)] = minm
###################
    s_max = []
    s_min = []

    for j in range(len(df.index) - 2):
        temp_max = 0
        temp_min = 0
        for i in colmns[1:]:
            temp_max += np.square(df.iloc[j][i] - df.iloc[-2][i])
            temp_min += np.square(df.iloc[j][i] - df.iloc[-1][i])

        s_max.append(round(np.sqrt(temp_max),4))
        s_min.append(round(np.sqrt(temp_min),4))

    df = df.iloc[:-2 , :]
    
    avg_s = []
    for i in range(len(s_max)):
        avg_s.append((s_max[i] + s_min[i]))

    per = []
    for i in range(len(s_min)):
        per.append((s_min[i]/avg_s[i]))
    df = df.assign(Topsis_Score = per)
    df['Rank'] = df['Topsis_Score'].rank(ascending = 0)

    ranking = []
    for m in range(ilen):
        ranking.append(int(df.loc[m]['Rank']))
            
    df.drop(['Rank'], axis = 1)

    df['Rank'] = ranking
    return df

In [93]:
df = pd.read_excel('data.xlsx')
df.to_csv ("del1-data.csv", index = None, header=True)
df = pd.read_csv("del1-data.csv")
impt = "+,+,-,+,+"
wgt = [1,1,1,1,1]

ans = topsis(df, wgt, impt)
ans.head(10)

,Fund Name,P1,P2,P3,P4,P5,Topsis_Score,Rank
0,M1,0.351077,0.344401,0.421434,0.322539,0.335992,0.603342,3
1,M2,0.380334,0.402609,0.440304,0.242862,0.269808,0.605929,2
2,M3,0.330180,0.300744,0.301923,0.357781,0.353072,0.453003,7
3,M4,0.326000,0.295893,0.402564,0.324837,0.334925,0.532319,5
4,M5,0.392872,0.426863,0.226442,0.476530,0.451281,0.546190,4
5,M6,0.367795,0.373505,0.408854,0.394555,0.397907,0.653308,1
6,M7,0.275847,0.213431,0.333373,0.374636,0.369084,0.393970,8
7,M8,0.388693,0.417161,0.213862,0.283467,0.281550,0.494058,6